<h1>Store Inventories</h1>

<div id="inventories">
    <% @stores.each do |store| %>
      <div class="store-container" id="inventory-<%= store.id %>">
        <p>Store: <%= store.name %></p>
        <% store.shoes.each do |shoe| %>
          <div class="shoe-container" id="shoe-<%= shoe.id %>">
            <p>Model: <%= shoe.model %></p>
            <p class="inventory-count" data-inventory-id="<%= shoe.id %>">Inventory: <%= shoe.inventory %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
